/*
  Cory Vo
  7/3/2024

  This style.css page contains my code for the sylistic choices I used for the website
*/

.oxygen-light {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

/*
Header
*/
header {
    /* margin-top: 35px; */
    background-color: 	#938d80;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 15px;

}

nav {
    text-align: center;
}

nav a {
    /* text-decoration: none; */
    /* background-color: rgb(1, 191, 255); */
    border-radius: 10%; 
    text-decoration: none;
    display: inline-block;
    transition: transform 0.5s ease;
}

nav a:visited{
    /* color: black; */
    text-decoration: underline;
    color: white;
}

nav a:hover {
    /* color: white;  */
    /* Color when hovering over links */
    transform: scale(1.1); 
    background-color: #6d685e;
    padding: 7px 20px; 
    margin: -7px -20px; /* Offset the added padding */
}

/* nav a.active {
    text-decoration: underline;
} */

nav ul li a.navbar.active {
    text-decoration: underline !important;
}

nav ul li {
    font-size: 18px;
    display: inline; 
    margin: 0 30px; 
}


/*
Body (intro)
*/
body {
    background-color: rgb(241, 241, 215);
    background-size: 100% 100%;
} 

#name {
    font-size: 120px;
    margin: 0; 
    font-family: Oxygen;
    color: rgb(27, 27, 160);
    /* color: rgb(128, 128, 128); */
}

.content p {
    font-size: 25px;
    margin: 0;  
    color: black;
}

.content {
    padding: 20px 40px; 
    text-align: left;
    margin-bottom: 70px;
}

.content p:first-child {
    margin-bottom: 5px; /* Adjust space between first <p> and <h1> */
}

.content p:nth-last-child(2) {
    margin-top: 35px;
}

.content #intro {
    font-size: 40px;
}

#text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#innertext {
    margin-top: 70px;
}

#profile {
    /* height: 450px; */
    border-radius: 50%;
    min-width: 40%;
    border-style: double;
    border-width: 6px;
    transition: transform 0.7s ease;
    max-width: 100%;
    height: auto;
}

#containerpic {
    max-width: 550px;
}

#profile:hover {
    transform: scale(1.1);
}

.logos a{
    text-decoration: none;
    margin-right: 20px;
}

#github:hover, #linked:hover {
    transform: scale(1.1); /* Scale up by 10% on hover */
    filter: brightness(1.2);
}

#github, #linked {
    transition: transform 0.4s ease; 
    border-radius: 10%;
    height: 30px;
    margin-top: 20px; 
}

/*
Body (contact)
*/

#insta, #linked_in, #outlook, #resume {
    max-width: 75px;
    margin-bottom: 20px; 
    border-radius: 10%;
    margin-left: 20px;
    margin-right: 20px;
    transition: transform 0.7s ease; 
}

#insta:hover, #linked_in:hover, #outlook:hover, #resume:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.all_logos {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.all_logos a{
    text-decoration: none;
}

/*
Body (projects)
*/
#intro_message {
    border-style: double;
    /* min-width: 500px; */
    margin-top: 100px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    transition: transform 0.7s ease;
    box-shadow: 7px 7px 10px;
    margin-bottom: 100px;
}

#intro_message:hover {
    transform: scale(1.1);
}

#introcontainer {
    margin-left: 5%;
    margin-right: 5%;
}

.project {
    margin-bottom: 100px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-style: double;
    border-radius: 20px;
    box-shadow: 7px 7px 10px;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
} 

.project h2{
    font-family: Oxygen;
    /* text-align: center; */
}

.project, p {
    font-size: 18px;
    line-height: 200%; 
    margin-left: 5%;
    margin-right: 5%;
}

#absurdle {
    height: 250px;
}

.text {
    /* width: 50%; */
    flex: 1;
    text-align: center;
}

.pics{
    border-radius: 15%;
    transition: transform 0.9s ease;
    max-width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    /* flex: 1; */
}

@media (max-width: 1000px) {
    .project {
      flex-direction: column;
    }
  }

.pics:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

#todo {
    height: 300px;
}

#absurdle {
    height: 250px;
}

#huffman {
    height: 300px;
}

#ciphers {
    height: 300px;
}

audio {
    max-width: 100%;
}

iframe {
    width: 100%;
    height: 100vh;
}


/*Mobile Device Design*/
@media only screen and (min-width: 320px) and (max-width: 420px) {

    nav ul {
        display: flex;
        flex-direction: column; /* Stack the items vertically */
        justify-content: center;
        align-items: center;
    }

    /* nav ul li {
         margin: 5%;
    }  */

    #profile {
        margin-top: 20px;
    }

    #intro {
        text-align: center;
    }

    #name {
        text-align: center;
    }

    #cs {
        text-align: center;
    }

    .logos {
        display: flex;
        justify-content: center;
    }

    .text {
        flex: 1;
    }
    
}

/* Form-Page */

.contact-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 7px 7px 7px;
}
form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

#form-contact {
    text-align: center;
}

.formb {
    margin-bottom: 5px;
}
