/*
  Cory Vo
  7/3/2024

  This style.css page contains my code for the sylistic choices I used for the website
*/

.oxygen-light {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

/*
Header
*/
header {
    margin-top: 35px;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    background-color: rgb(1, 191, 255);
    padding: 7px 20px;
    border-radius: 10%;
    display: inline-block;
    transition: transform 0.5s ease;
}

nav a:visited{
    color: black;
}

nav a:hover {
    color: white; /* Color when hovering over links */
    transform: scale(1.1); 
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

/*
Body (intro)
*/
body {
    background-color: rgb(241, 241, 215);
    background-size: 100% 100%;
} 

h1 {
    font-size: 120px;
    margin: 0; 
    font-family: Oxygen;
}

.content p {
    font-size: 25px;
    margin: 0;  
    color: black;
}

.content {
    padding: 20px 40px; 
    text-align: left;
    overflow: hidden;
    color: rgb(27, 27, 160);
    display: inline-block;
    margin-bottom: 70px;
}

.content p:first-child {
    margin-bottom: 5px; /* Adjust space between first <p> and <h1> */
}

.content p:last-child {
    margin-top: 10px; /* Adjust space between <h1> and last <p> */
}

.content #intro {
    font-size: 40px;
}

#profile {
    height: 500px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: 40px;
    max-width: 100%;
    border-style: double;
    border-width: 6px;
    display: inline-block;
    transition: transform 0.7s ease;
}

#profile:hover {
    transform: scale(1.1);
}

.logos a{
    text-decoration: none;
}

#github {
    margin-top: 20px;
    height: 30px;
}

#linked {
    margin-top: 25px;
    margin-left: 20px;
    height: 30px;
}

#github:hover, #linked:hover {
    transform: scale(1.1); /* Scale up by 10% on hover */
    background-color: rgb(140, 223, 251);
}

#github, #linked {
    transition: transform 0.4s ease; 
    border-radius: 10%
}

/*
Body (contact)
*/
#insta, #linked_in, #outlook, #resume {
    height: 250px;
    margin-left: 100px;
    margin-top: 100px;
    /* border-radius: 5%; */
    transition: transform 0.7s ease;
}

#insta:hover, #linked_in:hover, #outlook:hover, #resume:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}

#undercon {
    height: 500px;
    padding-left: 400px;
    padding-top: 75px;
}

.all_logos a{
    text-decoration: none;
}

/*
Body (projects)
*/
#intro_message {
    border-style: double;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    transition: transform 0.7s ease;
}

#intro_message:hover {
    transform: scale(1.1);
}

.project {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
} 

.project h2{
    font-family: Oxygen;
    text-align: center;
}

.project, p {
    font-size: 18px;
    line-height: 200%; 
}

#absurdle {
    height: 250px;
}

.text {
    margin-right: 80px;
}

.grey-out {
    filter: grayscale(100%); /* Apply grayscale filter */
    border-radius: 15%;
    transition: transform 0.9s ease;
}

.grey-out:hover {
    filter: grayscale(0%); /* Remove grayscale on hover */
    transform: scale(1.1);
}

#todo {
    height: 300px;
}
